body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;

  background-image: url("/images/guernica.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Navbar */
nav {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.5rem 1rem;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav a,
nav button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* Testo al centro */
.center-text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-text h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
