<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/Artista.css}" />
  <title th:text="${artista.nome}">Nome artista</title>
</head>

<body>

  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <div class="artista-container">
    <h1 th:text="${artista.nome}">Nome Artista</h1>

    <div class="img-container">
      <img th:src="${artista.urlImage}" alt="Immagine Artista" />
    </div>

    <p><strong>Biografia:</strong></p>
    <p th:text="${artista.biografia}">Biografia artista...</p>

    <p>
      <strong>Anno di nascita:</strong>
      <span th:text="${artista.annoNascita}">Anno nascita</span>
    </p>

    <p th:if="${artista.annoMorte != null}">
      <strong>Anno di morte:</strong>
      <span th:text="${artista.annoMorte}">Anno morte</span>
    </p>

    <div th:if="${artista.museo != null}">
      <p>
        <strong>Museo di appartenenza:</strong>
        <a th:href="@{/museo/{id}(id=${artista.museo.id})}" th:text="${artista.museo.nome}">Nome museo</a>
      </p>
    </div>

    <div th:if="${artista.opere != null and !artista.opere.empty}">
      <h3>Opere dell'artista:</h3>
      <ul>
        <li th:each="opera : ${artista.opere}">
          <a th:href="@{/opera/{id}(id=${opera.id})}" th:text="${opera.titolo}">Titolo opera</a>
        </li>
      </ul>
    </div>

  </div>

</body>

</html>