<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="it">
<head>
    <meta charset="UTF-8">
    <title th:text="${evento.id != null} ? 'Modifica Evento' : 'Crea Evento'">Evento</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>
<body>

<h1 th:text="${evento.id != null} ? 'Modifica Evento' : 'Crea Nuovo Evento'"></h1>

<form th:action="@{/evento/salva}" th:object="${evento}" method="post">

    <label for="titolo">Titolo:</label>
    <input type="text" id="titolo" th:field="*{titolo}" required>
    <div th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}" style="color:red"></div>
    <br>

    <label for="descrizione">Descrizione:</label>
    <textarea id="descrizione" th:field="*{descrizione}"></textarea>
    <div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" style="color:red"></div>
    <br>

    <label for="dataInizio">Data Inizio:</label>
    <input type="date" id="dataInizio" th:field="*{dataInizio}" required>
    <div th:if="${#fields.hasErrors('dataInizio')}" th:errors="*{dataInizio}" style="color:red"></div>
    <br>

    <label for="dataFine">Data Fine:</label>
    <input type="date" id="dataFine" th:field="*{dataFine}" required>
    <div th:if="${#fields.hasErrors('dataFine')}" th:errors="*{dataFine}" style="color:red"></div>
    <br>

    <!--per mantenere id quando vado a modificare evento-->
    <input type="hidden" th:field="*{id}" />

      <!--per mantenere foto quando vado a modificare evento-->
    <input type="hidden" th:field="*{urlImage}" />

    <!-- Pulsante visibile solo a STAFF -->
    <div sec:authorize="hasAuthority('ROLE_STAFF')">
        <button type="submit">Salva Evento</button>
    </div>
</form>

<!-- Pulsante elimina evento (visibile solo se già esiste) -->
<div th:if="${evento.id != null}" sec:authorize="hasAuthority('STAFF')">
    <form th:action="@{'/evento/elimina/' + ${evento.id}}" method="post"
          onsubmit="return confirm('Sei sicuro di voler eliminare questo evento?');">
        <button type="submit" style="color:red;">Elimina Evento</button>
    </form>
</div>

</body>
</html>
