<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home</title>
  <link rel="stylesheet" href="/css/Homepage.css" />
</head>

<body>

  <!-- Include la navbar con logo -->
  <div th:replace="fragments/navbar :: navbar"></div>

  <!-- Scritta centrale -->
  <div class="center-text">
    <h1>NoMa</h1>
  </div>

</body>
</html>
