<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

    <h2>Accedi al tuo profilo</h2>

    <form th:action="@{/login}" method="post" class="form-login">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required class="input-stile"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="input-stile"><br><br>

        <button type="submit" class="btn-invio">Accedi</button>
        <hr>
        <div class="registrazione-box">
            <p>Se è la tua prima volta clicca </p>
            <a th:href="@{/Registrazione}" class="btn">Registrati</a>
        </div>
    </form>

    <div th:if="${errore}" style="color:red;">
        <p th:text="${errore}"></p>
    </div>

</body>

</html>