<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" th:href="@{/css/Registrazione.css}">
</head>

<body>
    <h1>MODULO DI REGISTRAZIONE</h1>
    <h2>Ora ci servono alcuni tuoi dati:</h2>

    <form th:action="@{/registrazione}" method="post" class="form-registrazione">

        <label for="nome">Nome utente:</label>
        <input type="text" id="nome" name="nome" required class="input-stile"><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required class="input-stile"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="input-stile"><br><br>

        <label for="passwordBis">Conferma Password:</label>
        <input type="password" id="passwordBis" name="passwordBis" required class="input-stile"><br><br>

        <label for="codiceAmministratore">Codice Amministratore (se non lo hai puoi lasciare in bianco):</label>
        <input type="text" id="codiceAmministratore" name="codiceAmministratore" class="input-stile"><br><br>

        <button type="submit" class="btn-invio">Registrati</button>
    </form>

    <!-- Messaggi di errore -->
    <div th:if="${errore}" style="color:red;">
        <p th:text="${errore}"></p>
    </div>

    <div th:if="${errorePassword}" style="color:red;">
        <p th:text="${errorePassword}"></p>
    </div>

</body>

</html>
